.svg {
  animation-duration: 3s;
  animation-name: rotAnim;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.preloaderWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotAnim {
  from {
    transform: rotateZ(30);
  }

  to {
    transform: rotateZ(360deg);
  }
}