.mainContainer {
    width: 100vw;
    padding: 30px 30px 0 30px;
    display: flex;
}

.mainContainer button {
    transition: .3s;
}

.mainContainer button.light {
    background-color: red;
}

.mainContainer button.dark {
    background-color: blue;
}

.themeWrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    cursor: pointer;
}




.favouritesContainer svg {
    margin-left: 30px;
    cursor: pointer;
}

.compareContainer svg {
    margin-left: 20px;
    cursor: pointer;
}






.enter {
    opacity: 0;
    top: -100px;
}

.enterActive {
    opacity: 1;
    top: 0;
}

.exit {
    opacity: 1;
    top: 0;
}

.exitActive {
    opacity: 0;
    top: -100px;
}

.exitActive,
.enterActive {
    transition: opacity .3s, top .3s, transform .3s;
}